/*
Todos los derechos reservados
Nombre del Tema: La Pizzeria
Tema URI:
Autor: Jesus Corona Uribe
Autor URI:
Descripción: Tema para sitio web de restaurantes o pizzas
Versión: 1.0
Licencia: GNU General Public License v2 o posterior
URI de licencia: http://www.gnu.org/licenses/gpl-2.0.html
Etiquetas: restaurant, mobile first, responsive, pizza
Dominio del texto: lapizzeria
*/
body {
  background-color: #f1f1f1;
}
