/*
Todos los derechos reservados
Nombre del Tema: La Pizzeria
Tema URI:
Autor: Jesus Corona Uribe
Autor URI:
Descripción: Tema para sitio web de restaurantes o pizzas
Versión: 1.0
Licencia: GNU General Public License v2 o posterior
URI de licencia: http://www.gnu.org/licenses/gpl-2.0.html
Etiquetas: restaurant, mobile first, responsive, pizza
Dominio del texto: lapizzeria
*/
html{
  box-sizing: border-box;
}
*,*:before, *:after{
  box-sizing: inherit;
}
.contenedor{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;

}

/** Encabezadp **/
header.encabezado-sitio {
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 30px;
}
div.logo{
  text-align: left;

}
img.logotipo{
  width: 250px;
}
@media only screen and (min-width:768px){
  div.logo{
    text-align: center;

  }
  header.encabezado-sitio .contenedor{
    position: relative;
  }
  .informacion-encabezado{
    position: absolute;
    top: 0;
    right: 0;
  }
  div.direccion p{
    text-align: right;
  }
  nav.sociales ul{
    float: right;
  }

}
@media only screen and (min-width:992px){
  div.logo{
    text-align: center;

  }
}
/*** menu redes sociales ***/
nav.sociales ul{
  text-align: center;
  list-style: none;
  padding: 0;
}
nav.sociales ul li {
  position: relative;
  display: inline-block;
}
nav.sociales ul li a:before{
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  content: '\f08e';
  font-size: 30px;
  color: black;
  -webkit-font-smoothing: antialiased;
}
.sr-text{
  display: none;
}
nav.sociales li a[href*="facebook.com"]::before{
  content: '\f09a';
  } //forma de seleccionar los enlaces
nav.sociales li a[href*="instagram.com"]::before{
    content: '\f16d';
    }
nav.sociales li a[href*="twitter.com"]::before{
      content: '\f099';
      }
nav.sociales li a[href*="youtube.com"]::before{
        content: '\f167';
        }
div.direccion {
          display: block;
          clear: both;
          padding-top: 10px;
        }
div.direccion p{
  margin: 0px;
  font-size: 14px;
  text-align: center;
}

/* Navegacion Principal */
  nav.menu-sitio ul {
    list-style: none;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav.menu-sitio ul li{
    display: table-cell;
    width: 1%;
  }
